* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.highScoresLink {
    padding: 20px;
}

.introPage {
    display: flex;
    flex-direction: column;
    justify-content: column;
    align-items: center;
    padding: 20px;
}

#startQuizBtn {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: blueviolet;
    color: red;
}

.quizForm {
    display: none;
}

#nextBtn1, #nextBtn2, #nextBtn3, #nextBtn4, #nextBtn5, #nextBtn6, #nextBtn7 {
    display: none;
} 

.scorePage {
    display: none;
}

#submitBtn1, #submitBtn2, #submitBtn3, #submitBtn4, #submitBtn5, #submitBtn6, #submitBtn7 {
    display: none;
}

.highScoresPage {
    display: none;
}
